@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.navigation {
    font-family: 'SBAggroB';
    background-color: #000;
    display: flex;
    padding: 3rem;
    width: 100%;
}
.로고 span {
    
    color: #FFF;
    font-size: 2rem;
    text-shadow: .3rem .3rem red;
}
dd {
    display: flex;
    
}
dl {
    margin-left: 1rem;
    font-size: 1rem;
    color: #FFF;
}

dl a {
    text-decoration: none;
    color: #FFF;
    transition: .2s ease-out;
}
dl a:visited{
    color: #FFF;
    text-decoration: none;
}
dl a:hover {
    color: #ECC;
    font-size: 1.2rem;
    border-bottom: .2rem solid red;
}